{:tasks
 {:requires ([babashka.fs :as fs]
             [clojure.string :as str])
  :init     (def windows? (str/starts-with? (System/getProperty "os.name")
                                            "Windows"))

  clean (fs/delete-tree "target")

  gen-circleci (load-file "script/generate_circleci.clj")

  version (str/trim (slurp "resources/POD_VERSION"))

  uberjar-name {:depends [version]
                :task (str (fs/file "target"
                                    (format "pod-babashka-etaoin-%s-standalone.jar" version)))}

  uberjar {:doc "Builds uberjar"
           :depends [uberjar-name]
           :task (when (seq (fs/modified-since uberjar-name "src"))
                   (clojure "-T:build uber"))}

  graalvm {:doc "Checks GRAALVM_HOME env var"
           :task
                (let [env (System/getenv "GRAALVM_HOME")]
                  (assert env "Set GRAALVM_HOME")
                  env)}

  native-image {:doc "Builds native image"
                :depends [graalvm uberjar-name uberjar]
                :task (do
                        (shell (str (fs/file graalvm
                                      "bin"
                                      (if windows?
                                        "gu.cmd"
                                        "gu")))
                          "install" "native-image")
                        (shell (str (fs/file graalvm
                                      "bin"
                                      (if windows?
                                        "native-image.cmd"
                                        "native-image")))
                          "-jar" uberjar-name
                          "-H:Name=pod-babashka-etaoin"
                          "-H:+ReportExceptionStackTraces"
                          "--initialize-at-build-time=."
                          "-H:EnableURLProtocols=jar"
                          "--report-unsupported-elements-at-runtime"
                          "-H:EnableURLProtocols=http,https,jar"
                          "--enable-all-security-services"
                          "-H:ReflectionConfigurationFiles=reflection.json"
                          "--verbose"
                          "--no-fallback"
                          "--no-server"
                          "-J-Xmx3g"))}

  test (clojure "-M:test")}}
