{:deps {borkdude/etaoin-graal {:mvn/version "0.4.6-ae21d07"}
        nrepl/bencode {:mvn/version "1.1.0"}}
 :aliases
 {:test
  {:extra-deps
   {cognitect/test-runner
    {:git/url "https://github.com/cognitect-labs/test-runner"
     :sha "cb96e80f6f3d3b307c59cbeb49bb0dcb3a2a780b"}
    babashka/babashka.pods
    {:git/url "https://github.com/babashka/babashka.pods"
     :sha "feb48af75f60a4e31bfb434eb7321fd93c4a31cb"}}
   :extra-paths ["test"]
   :main-opts ["-m" "cognitect.test-runner"]}
 :build ;; added by neil
 {:deps {io.github.clojure/tools.build {:git/tag "v0.7.5" :git/sha "34727f7"}}
  :ns-default build}}}
